@font-face {
  font-family: 'Gilroy-Medium';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
	src: url('../fonts/gilroy-medium.woff2') format('woff2'),
		url('../fonts/gilroy-medium.woff') format('woff');
}
@font-face {
  font-family: 'Gilroy-Bold';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
	src: url('../fonts/gilroy-bold.woff2') format('woff2'),
		url('../fonts/gilroy-bold.woff') format('woff');
}