$main-font: "Gilroy-Medium", sans-serif;
$title-font: "Gilroy-Bold", sans-serif;
$main-color-text: #070707;
$additional-color-text: #828282;
$main-color-back:#f6f6f6;
$additional-color-back: #e5e5e5;
$color-link: #ff7f18;
$min-content: 300px;